<div class="footer">
    <div class="router-links">
        <a routerLink="/imprint">Impressum - Legal Notice</a>
        <a routerLink="/data-protection">Datenschützerklärung - Data protection</a>
        <p>@ 2022 by Tijana Couturier</p>
    </div>

    <div class="footer-links">
        <img src="assets/img/Portfolio-img/linkedin-box-fill.png">
        <img class="github-icon" src="assets/img/Portfolio-img/github-fill.png">
        <img src="assets/img/Portfolio-img/xing-fill.png">
    </div>
</div>