<div id="about-me" class="about-me">
    <div class="about-me-header">
        <div>
            <img src="assets/img/profil-img.jfif">
        </div>
        <div class="about-me-text">
            <h1>About me.</h1>
            <p>"I'm fascinated by digitization and a front end developer who wants to make the world more beautiful."</p>
        </div>
    </div>

    <div class="journey">
        <div>
            <div class="img-circle">
                <img src="assets/img/Portfolio-img/walk-line.png">
            </div>

            <p>MY JOURNEY BEGAN</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, aperiam accusantium! Odit animi corrupti eaque quos! Quam reprehenderit doloremque obcaecati laborum provident illo quibusdam animi! Enim adipisci quas deserunt. Perspiciatis.</p>
        </div>
        <div>
            <div class="img-circle">
                <img src="assets/img/Portfolio-img/heart-line.png">
            </div>

            <p>MY JOURNEY BEGAN</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, aperiam accusantium! Odit animi corrupti eaque quos! Quam reprehenderit doloremque obcaecati laborum provident illo quibusdam animi! Enim adipisci quas deserunt. Perspiciatis.</p>
        </div>
        <div class="padding">
            <div class="img-circle">
                <img src="assets/img/Portfolio-img/search-line.png">
            </div>

            <p>MY JOURNEY BEGAN</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, aperiam accusantium! Odit animi corrupti eaque quos! Quam reprehenderit doloremque obcaecati laborum provident illo quibusdam animi! Enim adipisci quas deserunt. Perspiciatis.</p>
        </div>
        <div>
            <div class="img-circle">
                <img src="assets/img/Portfolio-img/flight-takeoff-line.png">
            </div>

            <p>MY JOURNEY BEGAN</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, aperiam accusantium! Odit animi corrupti eaque quos! Quam reprehenderit doloremque obcaecati laborum provident illo quibusdam animi! Enim adipisci quas deserunt. Perspiciatis.</p>
        </div>
    </div>
</div>