<div class="header-text-img">
    <div>
        <p>Hi, <br> I'm <b class="name">Tijana</b> Couturier <br> Front End develop<b class="e">e</b>r</p>
        <div>
            <div class="example-button-row">
                <button class="primary">Contact me</button>
            </div>

        </div>
    </div>

    <div class="myImg">
        <img src="assets/img/my-img.jfif">
    </div>
</div>

<div class="arrow">
    <img src="assets/img/arrow-white.png">
</div>


<app-my-skills></app-my-skills>
<app-my-work></app-my-work>
<app-about-me></app-about-me>
<app-contact></app-contact>

<!--
<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>
-->