<div id="portfolio" class="my-work">
    <h1>My work</h1>

    <div class="btn">
        <button class="btn-left-right left">All</button>
        <button class="btn-mit">Angular</button>
        <button class="btn-left-right">Java Script</button>
    </div>

    <div class="projects">
        <div>
            <img src="assets/img/elpolloloco.png">
            <img class="img1" src="assets/img/join.png">
        </div>
        <div>
            <img class="img2" src="assets/img/ringoffire.png">
            <img src="">
        </div>
    </div>
</div>