.text-data-guidelines {
    margin: 30px;
    color: white;
}

.text-data-guidelines h1 {
    text-align: left!important;
}

.text-data-guidelines h2 {
    text-align: left!important;
}

.text-data-guidelines h3 {
    text-align: left!important;
}

.img {
    height: 50px;
    padding-top: 20px;
}

.text {
    font-weight: 700;
    padding-left: 10px;
}

.info {
    padding-top: 30px;
}